[General]
forceBreezeTheme=false
colorScheme=KvDark

[StreamInputs]
inputDevice={{STYLE_AUDIO_EFFECTS_INPUT}}
plugins=autogain#0
visiblePage=pluginsPage
visiblePlugin=autogain#0

[StreamOutputs]
linkToVirtualSource=false
showBlocklistedApps=true
useDefaultOutputDevice=true

[Window]
autostartOnLogin=true
noWindowAfterStarting=true
visiblePage=inputPage
